%h2 Личный календарь

= month_calendar events: @personal_events do |date, events|
  = date

  - events.each do |event|
    %div{class:"#{event.view_class}"}
      = link_to "#{event.title}", edit_event_path(event.event_id)

= link_to 'Новое событие', new_event_path, class: "btn btn-success"
